*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.header{
color: black;
text-decoration: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
padding-left: 95px;
}

.help{
    color: black;
    display: flex;
    gap: 15px;
    text-decoration: none;
}

.nav-search{
    display: flex;
    flex-direction: row;
    gap: 55px;
    margin-top: 25px;
    color: black;

}

.nav-items{
    display: flex;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-left: 200px;
    margin-top: 25px;
}

.first-page{
display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
gap: 10px;
margin-left: 95px;
margin-top: 20px;
}
.texxt{
margin-top: 130px;
font-size: x-large;
}
.C-I{
font-size: x-large;
margin-left: 200px;
}

.About-Us{
font-size: x-large;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 40px; 
}

.Welcome{
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
margin-left: 15%;
font-size: large;
word-spacing: 10px;
}
.Bookiit{
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 40px;   
margin-left: 25%;
font-size: large;
}


.Bookiitt{
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 40px;   
margin-left: 25%;
font-size: large;
}

.Monday{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Store-hour{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 40px;  
font-size: large;
}

.cardd{
    margin-left: 145px;
    border: 1px solid black;
    color: black;
    text-align: center;

    
}
.carrd{
    border: 1px solid black;
    margin-right: 145px;
    color: black;
    text-align: center;
}
.related-books{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: large;
    text-align: center;
}

.C-S{
  color: black;
    background-color: white;
    border-radius: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: grab;
    border-color: #F06D82;
    font-weight: 600;
}

.C-SS{
  color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: grab;
    font-weight: 600;
    border: none;
}
.order-flex{
  display: flex;
  gap: 500px;
  text-align: center;
  margin-left: 12%;
  margin-bottom: 10px;
}

.View{
text-decoration: none;
color: blue;
font-size: x-small;
}

.Bookss{
    display: flex;
    flex-direction: row;
    gap: 70px;
    text-align: center;
    margin-top: 25px;
    margin-left: 75px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.related-books{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: large;
}
.View{
text-decoration: none;
color: blue;
font-size: x-small;
}
.first-two{border-left: 50px;
border-radius: 10px;
margin-left: 145px;
border: 1px solid #F06D82;
padding-left: 5px;
width: 470px;
padding-right: 30px;
}

.first-twoo{border-left: 50px;
border-radius: 10px;
margin-left: 30px;
border: 1px solid #F06D82;
padding-left: 5px;
width: 470px;
padding-right: 30px;
}

.pink-border{
    display: flex;
}






.curve{
    background-color: #1D1213;
    height: 520px;
    margin-top: 40px;
    position: relative;
}
.c-pink{
position: absolute;
z-index: 1;
}
.logo{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 40%;
}
.flex{
    padding-top: 250px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 80px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
    
}
.list{
    list-style-type: none;
    align-content: center;
}
.flexx{
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 90px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
}
.login{
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
}
.login:hover {
    color: #F06D82;
    background-color: white;
}
.sign-up{
    color: white;
    background-color: #F06D82;
    border-color: #F06D82;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
}
.sign-up:hover {
    color: #F06D82;
    background-color: white;
}
.color{
    color: #F06D82;
}
.login-signup{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.sign-upp{
    color: white;
    background-color: #F06D82;
    border-color: #F06D82;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
    display: flex;
    flex-direction: row;
    border: none;
    margin-top: 20px;
}
.logiin{
    color: white;
    border-color: #F06D82;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
}
.logiin:hover {
    color: #F06D82;
    background-color: white;
}