*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.form{
    align-items: center;
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logoo{
    justify-content: center;
}
.inputs{
    margin-left: 35%;
}
.tags{
    font-size: 10px;
}
.help{
    text-decoration: none;
    color: rgb(0, 81, 255);
}
.F-N{
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 4px;
}
.sign-up{
    color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 162px;
    padding-right: 162px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: grab;
    border: none;
    margin-bottom: 10px;
}
.forgot{
    font-size: 15px;
}





/* ..................................................................................Curvy-Section */
.curve{
    background-color: #1D1213;
    height: 450px;
    margin-top: 40px;
    position: relative;
}
.c-pink{
position: absolute;
z-index: 1;
}
.logo{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 40%;
}
.flex{
    padding-top: 250px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 80px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
    
}
.list{
    list-style-type: none;
    align-content: center;
}

.flexx{
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 90px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
}
.login{
    color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
    border: none;
}
.login:hover {
    color: #F06D82;
    background-color: white;
}