*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.header{
color: black;
text-decoration: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
padding-left: 95px;
}

.help{
    color: black;
    display: flex;
    gap: 15px;
    text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-search{
    display: flex;
    flex-direction: row;
    gap: 55px;
    margin-top: 25px;
    color: black;

}

.nav-items{
    display: flex;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-left: 200px;
    margin-top: 25px;
}

.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    gap: 20px;
}
.step {
  padding: 10px 20px;
  border-radius: 20px;
  color: #ccc;;
  font-weight: bold;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.step-current{
color: black;
font-weight: bold;
  position: relative;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fiction{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.real{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.Rachel{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.F-flex{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.see{
    text-decoration: none;
    color: blue;
    padding-left: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Delete{
    text-decoration: none;
    color: red;
    padding-left: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.Qty{
background-color: #ccc;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-left: 5px;
padding-right: 5px;
border-radius: 4px;
}


.top{
word-spacing: 85px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: left;
}

.line{
  text-align: justify;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.subtotal{
word-spacing: 60px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.topp{
word-spacing: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.double-flex{
display: flex;
/* border: 1px solid black; */
border: 1px solid #ccc;
  padding: 1px;
  border-radius: 8px;
  background: #fff;
}

.text-1{
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
}
.flex-alll{
    display: flex;
}
.image-flex{
padding-left: 88px;
padding-top: 10px;
}


.C-S{
  color: black;
    background-color: white;
    border-radius: 10px;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: grab;
    border-color: #F06D82;
    font-weight: 600;
}

.C-SS{
  color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 9px;
    padding-bottom: 9px;
    cursor: grab;
    font-weight: 600;
    border: none;
}
.order-flex{
  display: flex;
  gap: 495px;
  text-align: center;
  margin-left: 95px;
}

.Bookss{
    display: flex;
    flex-direction: row;
    gap: 65px;
    text-align: center;
    margin-top: 25px;
    margin-left: 75px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.related-books{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: x-large;
}
.tope{
word-spacing: 791px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
margin-left: 95px;
}

.money-flex{
text-align: right;
}







.curve{
    background-color: #1D1213;
    height: 450px;
    margin-top: 40px;
    position: relative;
}
.c-pink{
position: absolute;
z-index: 1;
}
.logo{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 40%;
}
.flex{
    padding-top: 250px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 80px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
    
}
.list{
    list-style-type: none;
    align-content: center;
}

.flexx{
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 90px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
}
.login{
    color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
    border: none;
}
.login:hover {
    color: #F06D82;
    background-color: white;
}