*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

.header{
color: black;
text-decoration: none;
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 25px;
padding-left: 95px;
}

.help{
    color: black;
    display: flex;
    gap: 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav-search{
    display: flex;
    flex-direction: row;
    gap: 55px;
    margin-top: 25px;
    color: black;

}

.nav-items{
    display: flex;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-left: 200px;
    margin-top: 25px;
}
/* .................................................................................nav-bar */

.form{
    margin-top: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Shipping{
    font-weight: 600;
    font-size: 10px;
}

.tags{
    font-size: 10px;
    margin-left: 35%;
}
.help{
    text-decoration: none;
    color: rgb(0, 81, 255);
}

.F-N{
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 4px;
}
.next{
    color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: grab;
    border: none;
    margin-bottom: 10px;
}

.paystack{
    align-content: center;
}
.credit{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 360px;
}
.shift{
    margin-left: 36%;
}
.grp{
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;

}
.inputs{
    margin-left: 200px;
}



/* ................................................................................curvey section */
.curve{
    background-color: #1D1213;
    height: 450px;
    margin-top: 40px;
    position: relative;
}
.c-pink{
position: absolute;
z-index: 1;
}
.logo{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 40%;
}
.flex{
    padding-top: 250px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 80px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
    
}
.list{
    list-style-type: none;
    align-content: center;
}

.flexx{
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 90px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
}