*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.form{
    align-items: center;
    margin-top: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logoo{
    justify-content: center;
}
.inputs{
    margin-left: 35%;
}
.tags{
    font-size: 15px;
}
.help{
    text-decoration: none;
    color: rgb(0, 81, 255);
}
.F-N{
    padding-right: 200px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 4px;
}
.Send-pin{
    color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: grab;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
}
.forgot{
    font-size: 15px;
}
.forgot-p{
    font-size: 25px;
    font-weight: 600;
}
.have{
    font-weight: 500;
}

.pin-input {
  width: 60px;
  height: 20px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.pin-input:focus {
  border-color: #F06D82;
}



/* ..........................................................................................Curvey part */
.curve{
    background-color: #1D1213;
    height: 450px;
    margin-top: 40px;
    position: relative;
}
.c-pink{
position: absolute;
z-index: 1;
}
.logo{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    margin-left: 40%;
}
.flex{
    padding-top: 250px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 80px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
    
}
.list{
    list-style-type: none;
    align-content: center;
}

.flexx{
    padding-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 90px;
    line-height: 1.8;
    justify-content: center;
    padding-bottom: 20px;
}
.Signup{
    color: white;
    background-color: #F06D82;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: grab;
    border: none;
}
.Signup:hover {
    color: #F06D82;
    background-color: white;
}

.login{
    color: white;
    background-color: transparent;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: grab;
    border-width: 2px;
    border-color: white;
    margin-right: 30px;

}
.login:hover {
    color: #F06D82;
    background-color: white;
}